body {
  font-family: "Roboto Mono", monospace;
  margin: 0;
  padding: 0;
}
.color {
  color: rgb(70, 3, 3);
}
h1 {
  font-size: 50px;
  color: crimson;
}
h3 {
  font-size: 20px;
  font-weight: 900;
}
p {
  font-weight: 600;
  margin: 10px;
}
#container {
  display: flex;
  background-image: url(images/7.png);
  margin-bottom: 100px;
}
.half-width {
  width: 50%;
  padding: 20px;
}
.half-width img {
  max-width: 100%;
}
.button {
  text-decoration: none;
  padding: 5px 30px;
  border-radius: 30px;
  background-image: linear-gradient(orange, red);
  color: aliceblue;
  font-weight: 700;
  margin: 10%;
}
#about {
  display: flex;
  background-image: url(images/Frame\ 58.jpg);
  background-repeat: no-repeat;
}
img {
  width: 50%;
}
