body {
  font-family: "Roboto Mono", monospace;
  margin: 0;
  padding: 0;
}
.color {
  color: rgb(70, 3, 3);
}
h1 {
  font-size: 50px;
  color: crimson;
}
h3 {
  font-size: 20px;
  font-weight: 900;
}
p {
  font-weight: 600;
}
#container {
  display: flex;
  background-image: url(images/7.png);
  margin-bottom: 100px;
}
.half-width {
  width: 50%;
  padding: 10px;
}
.half-width img {
  max-width: 100%;
}
.button {
  text-decoration: none;
  padding: 5px 30px;
  border-radius: 30px;
  background-image: linear-gradient(orange, red);
  color: aliceblue;
  font-weight: 700;
  margin: 10%;
}
#about {
  display: flex;
  background-image: url(images/Frame\ 58.jpg);
  background-repeat: no-repeat;
}
img {
  width: 50%;
}
div {
  text-align: center;
  margin: 20px;
  padding: 10px;
}
h2 {
  color: brown;
  font-weight: 700;
  font-size: 40px;
}
span {
  color: dimgray;
  font-weight: 800;
}
.flexible {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
h3 {
  font-weight: 700;
}
.width {
  width: 40%;
  margin: 5%;
  border: solid 10px white;
  border-radius: 20px;
  box-shadow: 5px 10px 10px 5px gray;
}
.social-media {
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 15px white;
  border-radius: 20px;
}
footer {
  background-color: black;
  color: aliceblue;
  text-align: center;
}
.foot {
  color: orange;
}
